<div class="SYIG_3">
    <div>
        <h2>主页</h2>
    </div>
    <div>
    </div>
</div>
<div class="SYIG_2">
    <mark>最实用脚本</mark>
    <div class="SYIG_1">
        <form name="QH_MAGM" action="/QH_MAGM" method="get">
            <button>行排序</button>
        </form>
        <form name="HD_LZJK" action="/HD_LZJK" method="get">
            <button>删重复行</button>
        </form>
        <form name="HD_LZJK_FYWYGGXBST" action="/HD_LZJK_FYWYGGXBST" method="get">
            <button>删重复行_根据标识符</button>
        </form>
        <form name="unicode_LDRG" action="/unicode_LDRG" method="get">
            <button>unicode VKVY LDRG</button>
        </form>
        <form name="WR_EBWU" action="/WR_EBWU" method="get">
            <button>WR EBWU</button>
        </form>
        <form name="node_ouss" action="/node_ouss" method="get">
            <button>node ouss</button>
        </form>
    </div>
</div>
<div class="SYIG_2">
    <mark>格式化</mark>
    <div class="SYIG_1">
        <form name="SIIHGGUXGGRJSEGGBRTZGGFS" action="/SIIHGGUXGGRJSEGGBRTZGGFS" method="get">
            <button>括号型文本格式化</button>
        </form>
    </div>
</div>
<div class="SYIG_2">
    <mark>其它脚本</mark>
    <div class="SYIG_1">

        <form name="ARAGGGVDGGLDRG" action="/ARAGGGVDGGLDRG" method="get">
            <button>大小写转换</button>
        </form>
        <form name="ASCIIGGLDRG" action="/ASCIIGGLDRG" method="get">
            <button>ASCII转换</button>
        </form>
    </div>
</div>