<div class="SYIG_3">
    <div>
        <mark>Home
    </div>
    <div>
    </div>
</div>
<div class="SYIG_2">
    <mark>Ok yodb qwse</mark>
    <div class="SYIG_1">
        <form name="QH_MAGM" action="/QH_MAGM" method="get">
            <button>qh magm</button>
        </form>
        <form name="HD_LZJK" action="/HD_LZJK" method="get">
            <button>hd lzjk qh</button>
        </form>
        <form name="HD_LZJK_FYWYGGXBST" action="/HD_LZJK_FYWYGGXBST" method="get">
            <button>hd lzjk qh zv fywy xbst</button>
        </form>
        <form name="unicode_LDRG" action="/unicode_LDRG" method="get">
            <button>unicode VKVY LDRG</button>
        </form>
        <form name="WR_EBWU" action="/WR_EBWU" method="get">
            <button>WR EBWU</button>
        </form>
        <form name="node_ouss" action="/node_ouss" method="get">
            <button>node ouss</button>
        </form>
        <form name="nikc_ouss_yhld" action="/nikc_ouss_yhld" method="get">
            <button>nikc ouss</button>
        </form>
    </div>
</div>
<div class="SYIG_2">
    <mark>Brtz fs</mark>
    <div class="SYIG_1">
        <form name="SIIHGGUXGGRJSEGGBRTZGGFS" action="/SIIHGGUXGGRJSEGGBRTZGGFS" method="get">
            <button>siih yn rjse brtz fs</button>
        </form>
    </div>
</div>
<div class="SYIG_2">
    <mark>Ynkf qwse</mark>
    <div class="SYIG_1">

        <form name="ARAGGGVDGGLDRG" action="/ARAGGGVDGGLDRG" method="get">
            <button>ar ag rr ldrg </button>
        </form>
        <form name="ASCIIGGLDRG" action="/ASCIIGGLDRG" method="get">
            <button>ASCII ldrg</button>
        </form>
    </div>
</div>