<div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" onload="console.log('jquery Sdbc')"></script>
    <script>
        $(document).ready(function () {

        });
    </script>
</div>
<div class="SYIG_3" style="float: left;margin: 0%;">
    <h1>Yqdu Wlyq!</h1>
    <img src="./img/logo.png" width="60%" height="60%" alt="logo">
    <div>
        osse : <mark>{{osse}}</mark><br>
        piqr : <mark>{{piqr}}</mark><br>
    </div>
</div>

<div style="float: left;margin: 0%;">
    <div class="SYIG_2">
        <mark>yodb qwse</mark>
        <div class="SYIG_1">
            <form name="QH_MAGM" action="/QH_MAGM" method="get">
                <li><button class="SYIG_4">qh magm</button></li>
            </form>
            <form name="HD_LZJK" action="/HD_LZJK" method="get">
                <li><button class="SYIG_4">hd lzjk qh</button></li>
            </form>
            <form name="HD_LZJK_FYWYGGXBST" action="/HD_LZJK_FYWYGGXBST" method="get">
                <li><button class="SYIG_4">hd lzjk qh zv fywy xbst</button></li>
            </form>
            <form name="unicode_LDRG" action="/unicode_LDRG" method="get">
                <li><button class="SYIG_4">unicode VKVY LDRG</button></li>
            </form>
            <form name="WR_EBWU" action="/WR_EBWU" method="get">
                <li><button class="SYIG_4">WR EBWU</button></li>
            </form>
            <form name="afoa" action="/afoa" method="get">
                <li><button class="SYIG_4">afoa</button></li>
            </form>
            <form name="node_ouss" action="/node_ouss" method="get">
                <li><button class="SYIG_4">node ouss</button></li>
            </form>
            <form name="nikc_ouss_yhld" action="/nikc_ouss_yhld" method="get">
                <li><button class="SYIG_4">nikc ouss</button></li>
            </form>
            <form name="SLRH_JYUY" action="/SLRH_JYUY" method="get">
                <li><button class="SYIG_4">slrh jyuy</button></li>
            </form>
        </div>
    </div>
    <div class="SYIG_2">
        <mark>Ynkf qwse</mark>
        <div class="SYIG_1">

            <form name="ARAGGGVDGGLDRG" action="/ARAGGGVDGGLDRG" method="get">
                <li><button class="SYIG_4">ar ag rr ldrg </button></li>
            </form>
            <form name="ASCIIGGLDRG" action="/ASCIIGGLDRG" method="get">
                <li><button class="SYIG_4">ASCII ldrg</button></li>
            </form>
            <form name="drbz_exym" action="/drbz_exym" method="get">
                <li><button class="SYIG_4">drbz exym</button></li>
            </form>
            <form name="crom_exym" action="/crom_exym" method="get">
                <li><button class="SYIG_4">crom exym</button></li>
            </form>
            <form name="yfxb_fkkc" action="/yfxb_fkkc" method="get">
                <li><button class="SYIG_4">yfxb_fkkc</button></li>
            </form>
        </div>
    </div>

</div>
<div style="float: left;margin: 0%;">
    <div class="SYIG_2">
        <mark>Brtz fs</mark>
        <div class="SYIG_1">
            <form name="SIIHGGUXGGRJSEGGBRTZGGFS" action="/SIIHGGUXGGRJSEGGBRTZGGFS" method="get">
                <li><button class="SYIG_4">siih yn rjse brtz fs</button></li>
            </form>
        </div>
    </div>
</div>
<div style="float: left;margin: 0%;">
    <div class="SYIG_2">
        <mark>hsoy jtha</mark>
        <ul>
            <li><a href="https://code.visualstudio.com/">vscode</a></li>
            <li><a href="https://www.csdn.net/">CSDN</a></li>
            <li><a href="https://www.runoob.com/">runoob</a></li>
        </ul>
    </div>
    <div class="SYIG_2">
        <mark>wj dk jtha</mark>
        <ul>
            <li><a href="http://43.153.137.15">funfunfun</a></li>
            <li><a href="http://43.153.137.15/afoa">afoa</a></li>
            <li><a href="http://43.153.137.15/get-log">get log</a></li>

            <li><a href="http://43.153.137.15/fillings/filling-wrvr">filling wrvr</a></li>
            <li><a href="http://43.153.137.15/matching/matching-wrvr-1-zt">matching wrvr 1 zt</a></li>
                        <li><a href="http://43.153.137.15/matching/matching-wrvr-yfhi">matching wrvr yfhi</a></li>
        </ul>
    </div>
</div>