<title>NIKC OUSS</title>
<h2>NIKC OUSS</h2>
<form name="home" action="/" method="get">
    <button>go home</button>
</form>
<center>
    <h2>NIKC OUSS</h2>
    <div style="clear: both;">
        <form name="NINI_ZKRS_DREQ_0" action="/NIKC_NINI_ZKRS_DREQ" method="post">
            若根据标题搜索 请在此处输入项目关键字<input type="text" name="NINI_ZKRS_DREQ" value="" size="20">
            <button>提交</button>
        </form>
        <form name="NINI_BQEO_DREQ_0" action="/NIKC_NINI_BQEO_DREQ" method="post">
            若根据内容搜索 请在此处输入项目关键字<input type="text" name="NINI_BQEO_DREQ" value="" size="20">
            <button>提交</button>
        </form>
    </div>
    <hr>
    <div>
        <form name="NINI_form" action="/NIKC_UKYP" method="post">
            标题<input type="text" name="ZKRS_1"><br> 内容<br>
            <textarea rows="20" cols="70" name="BQEO_0_1"> </textarea><br>
            <div>
                <input type="submit" value="添加">
            </div>
        </form>
    </div>
<center>