<title>unicode LDRG</title>
<h2>unicode LDRG</h2>
<form name="home" action="/" method="get">
<button>go home</button>
</form>
<form name="unicode_LDRG" action="/unicode_LDRG" method="post">
    请在此输入文本<br><textarea name="VDZV_1" rows="2" cols="100"></textarea><br>
    <button>提交</button>
</form>
unicode<br>
<textarea rows="2" cols="100">{{JTYP_1}}</textarea>
<br>
ZTFR SU<br>
<textarea rows="2" cols="100">{{JTYP_2}}</textarea>