<head>
    <title>WR ATRS</title>
</head>
<h2>WR ATRS</h2>
<form name="home" action="/" method="get">
    <button>go home</button>
</form>
<form name="WR" action="/WR_EBWU" method="get">
    <button>WR</button>
</form>
<hr>
sopc dk afoa tsjq dk brtz cvl lh cqpi fr + '=' + mcvn + lr di gh siih wm bc<br><br>
<textarea onfocus="select()"  rows="40" style="resize: none;width: 100%;overflow: auto;word-break: break-all;">
{{RJOK_SOPC}}
</textarea>