<head>
    <title>WR ATRS</title>
</head>
<h2>WR ATRS</h2>
<form name="home" action="/" method="get">
    <button>go home</button>
</form>
<hr>
sopc dk afoa tsjq dk brtz cvl lh cqpi fr + '=' + mcvn + lr di gh siih wm bc<br>
<form name="WR_EBWU" id="form_1" action="/WR_EBWU" method="post">
    <hr>
    hd lzjk qh tsjq : HD_LZJK ae HD ; ah us mcvn lh lg mr ds, ji rjse uxux dk regex, ah hdpk lg mr ds zvti dk lzjk qh
    <br>
    <textarea name="VDZV_1" onfocus="select()" id="RNSF_1" rows="09" cols="150">
        HD_LZJK=LG =lg_xbst ,DS= ds_xbst &#123;&#123;
            lg_xbst 1 2 3 ds_xbst 
            lg_xbst 1 0 3 ds_xbst 
            lg_xbst 1 2 3 ds_xbst 123
        &#125;&#125;
    </textarea>
    <br>
    <button>zhms</button>
</form>
<form name="WR_EBWU" id="form_1" action="/WR_EBWU" method="post">
    <hr>
    vkih maca tsjq: VKIH_MACA ae VKIH; mcvn lh VNAW mr DPHP, ah us mcvn lh TYUB, TYUB=16 ja no 16 tyub vdum
    <br>
    <textarea name="VDZV_1" onfocus="select()" id="RNSF_1" rows="09" cols="150">
        VKIH_MACA=VNAW =8,DPHP=3,TYUB=16&#123;&#123;
            1 2 3
        &#125;&#125;
    </textarea>
    <br>
    <button>zhms</button>
</form>
<form name="WR_EBWU" id="form_1" action="/WR_EBWU" method="post">
    <hr>
    数字排列指令：VNZT_MACA或MACA; 参数为DPHP, 可选参数为TYUB, TYUB=16将以十六进制输出。
    每个数字的分隔符为空白符或逗号，使用数字+[\s*-\s*]+数字模式将启用数字连续输出模式, 按照DPHP参数连续输出“-”之间的数字
    <br>
    <textarea name="VDZV_1" onfocus="select()" id="RNSF_1" rows="09" cols="150">
        VNZT_MACA=DPHP=3,TYUB=16&#123;&#123;
            101-105
            110
            112,113 114
        &#125;&#125;
    </textarea>
    <br>
    <button>zhms</button>
</form>
<form name="WR_EBWU" id="form_1" action="/WR_EBWU" method="post">
    <hr>
    翻转行指令 : RFLD_QH或RFLD : 翻转行的顺序; 可选参数为 KNDD_AW, 将根据 KNDD_AW 克隆翻转后的内容
    <br>
    <textarea name="VDZV_1" onfocus="select()" id="RNSF_1" rows="09" cols="150">
        RFLD=&#123;&#123;
            1
            2
            3
        &#125;&#125;
    </textarea>
    <br>
    <button>zhms</button>
</form>
<form name="WR_EBWU" id="form_1" action="/WR_EBWU" method="post">
    <hr>
    CE EBWU RFRF : RFRF AE RFRF_CE_EBWU : RFRF YHRJ MR CE EBWU BC CE EBWU AE YHRJ. MCVN WU LH "YHRJ" AE "CE_EBWU" JA VDUM DIYC DK CE EBWU AE YHRJ. 
    <br>
    <textarea name="VDZV_1" onfocus="select()" id="RNSF_1" rows="09" cols="150">
        RFRF=YHRJ&#123;&#123;
            CE EBWU
        &#125;&#125;
    </textarea>
    <br>
    <button>zhms</button>
</form>
<form name="WR_EBWU" id="form_1" action="/WR_EBWU" method="post">
    <hr>
    CE EBWU LD YHRJ : YHRJ AE CE_EBWU_LD_YHRJ.
    <br>
    <textarea name="VDZV_1" onfocus="select()" id="RNSF_1" rows="09" cols="150">
        YHRJ=&#123;&#123;
            YHRJ
        &#125;&#125;
    </textarea>
    <br>
    <button>zhms</button>
</form>
<form name="WR_EBWU" id="form_1" action="/WR_EBWU" method="post">
    <hr>
    CE EBWU ST ZT WM MALG YMCE : MALG AE CE_EBWU_SI_ZT_WM_MALG_YMCE.
    <br>
    <textarea name="VDZV_1" onfocus="select()" id="RNSF_1" rows="09" cols="150">
        MALG=&#123;&#123;
            大
        &#125;&#125;
    </textarea>
    <br>
    <button>zhms</button>
</form>
<form name="WR_EBWU" id="form_1" action="/WR_EBWU" method="post">
    <hr>
    zqjp hd udcc bqeo dk xbst: --3 lh zqjp udcc bqeo xbst. nq vkrf ll ja zqjp hd.
    <br>
    <textarea name="VDZV_1" onfocus="select()" id="RNSF_1" rows="09" cols="150">
        RFRF=VDUM=YHRJ&#123;&#123;
            CE EBWU
            --3
            dw hd dk bqeo
        &#125;&#125;
    </textarea>
    <br>
    <button>zhms</button>
</form>
<form name="WR_EBWU" id="form_1" action="/WR_EBWU" method="post">
    <hr>
    ld unicode : cqpi fr : ld_unicode . mcvn wu : nixb . nixb=yhrj jukl ja bqeo yh dk yhrj ldlh unicode.
    <br>
    <textarea name="VDZV_1" onfocus="select()" id="RNSF_1" rows="09" cols="150">
        ld_unicode=nixb=yhrj&#123;&#123;
            我 ji jy.
        &#125;&#125;
    </textarea>
    <br>
    <button>zhms</button>
</form>
<form name="WR_EBWU" id="form_1" action="/WR_EBWU" method="post">
    <hr>
    Ey nh tsjq vkfs vdpj: ac aqfc vd siih, fj aqfc nq da ye qh dk dsph ukyp '--' xbst
    <br>
    <textarea name="VDZV_1" onfocus="select()" id="RNSF_1" rows="09" cols="150">
        RFRF=VDUM=YHRJ --
            CE EBWU
    </textarea>
    <br>
    <button>zhms</button>
</form>
<form name="WR_EBWU" id="form_1" action="/WR_EBWU" method="post">
    <hr>
    CE EBWU EYSJ ZJLZ: CQPI FR : ZJLZ AE CE_EBWU_EYSJ_ZJLZ. JOWY YHRJ SJBX ZJZJ STYF DK EYSJ DIYC ACYF DK YHRJ SJEB DK ZBHM.
    <br>
    <textarea name="VDZV_1" onfocus="select()" id="RNSF_1" rows="09" cols="150">
        CE_EBWU_EYSJ_ZJLZ=--
    </textarea>
    <br>
    <button>zhms</button>
</form>
<hr>
VDUM BQEO<br>
<textarea rows="10" cols="150" onfocus="select()">{{JTYP_1}}</textarea>
<script>
</script>