<head>
    <title>VR</title>
    <script>
        var module = {}        
    </script>
</head>
<script>
    var t1 = new Date().getTime()
    var t2 = t1
    var vdzv_1
    var gkqj_jkub_bcaf
    var gkqj_pc_mcvn_hm_siih
    var gkqj_pc_mcvn_pc_siih
    var gkqj_znzo_mcvn_bqeo
    document.onkeydown = function (event) {
        var vdzv_1 = document.getElementById('id_vdzv_1')
        var trig_kp = vdzv_1.selectionStart
        if (/^(?:79|73|65|89|81|85|50|55|57|48|49|51|56)$/.test(event.keyCode)) {
            event.preventDefault();
        }
        if (event.altKey || event.keyCode == 16) {
            event.preventDefault();
        } else if (event.keyCode == 9) {
            event.preventDefault();
            document.getElementById('id_vdzv_1').value = ""
        }
        if (event.keyCode == 32 && event.ctrlKey) {
            document.getElementById('btn1').click()
            return
        } else if (event.altKey && event.keyCode == 80) {
            document.getElementById('id_vdzv_1').focus()
            return
        } else if ((event.altKey && event.keyCode == 65)||event.keyCode==56) {
            document.getElementById('id_vdzv_1').value = document.getElementById('id_vdzv_1').value.slice(0, trig_kp) + 'ɑ' + vdzv_1.value.slice(trig_kp, vdzv_1.length)
            vdzv_1.setSelectionRange(trig_kp + 1, trig_kp + 1)


        } else if (event.keyCode == 65) {
            document.getElementById('id_vdzv_1').value = document.getElementById('id_vdzv_1').value.slice(0, trig_kp) + 'æ' + vdzv_1.value.slice(trig_kp, vdzv_1.length)
            vdzv_1.setSelectionRange(trig_kp + 1, trig_kp + 1)

            vdzv_1.setSelectionRange(trig_kp + 1, trig_kp + 1)


        } else if (event.altKey && event.keyCode == 69) {

            document.getElementById('id_vdzv_1').value = document.getElementById('id_vdzv_1').value.slice(0, trig_kp) + 'ə' + vdzv_1.value.slice(trig_kp, vdzv_1.length)
            vdzv_1.setSelectionRange(trig_kp + 1, trig_kp + 1)


        } else if ( event.keyCode == 50) {

            document.getElementById('id_vdzv_1').value = document.getElementById('id_vdzv_1').value.slice(0, trig_kp) + 'ə' + vdzv_1.value.slice(trig_kp, vdzv_1.length)
            vdzv_1.setSelectionRange(trig_kp + 1, trig_kp + 1)


        } else if (event.keyCode == 51) {
            document.getElementById('id_vdzv_1').value = document.getElementById('id_vdzv_1').value.slice(0, trig_kp) + 'ɜ:' + vdzv_1.value.slice(trig_kp, vdzv_1.length)
            vdzv_1.setSelectionRange(trig_kp + 2, trig_kp + 2)


        } else if (event.keyCode == 81) {
            document.getElementById('id_vdzv_1').value = document.getElementById('id_vdzv_1').value.slice(0, trig_kp) + 'ɑ' + vdzv_1.value.slice(trig_kp, vdzv_1.length)
            vdzv_1.setSelectionRange(trig_kp + 2, trig_kp + 2)


        } else if (event.altKey && event.keyCode == 70) {
            document.getElementById('id_vdzv_1').value = document.getElementById('id_vdzv_1').value.slice(0, trig_kp) + 'θ' + vdzv_1.value.slice(trig_kp, vdzv_1.length)
            vdzv_1.setSelectionRange(trig_kp + 1, trig_kp + 1)

            vdzv_1.setSelectionRange(trig_kp + 1, trig_kp + 1)


        } else if (event.altKey && event.keyCode == 86) {
            document.getElementById('id_vdzv_1').value = document.getElementById('id_vdzv_1').value.slice(0, trig_kp) + 'ð' + vdzv_1.value.slice(trig_kp, vdzv_1.length)
            vdzv_1.setSelectionRange(trig_kp + 1, trig_kp + 1)


        } else if (event.altKey && event.keyCode == 85) {
            document.getElementById('id_vdzv_1').value = document.getElementById('id_vdzv_1').value.slice(0, trig_kp) + 'u' + vdzv_1.value.slice(trig_kp, vdzv_1.length)
            vdzv_1.setSelectionRange(trig_kp + 1, trig_kp + 1)


        } else if (event.keyCode == 85) {
            document.getElementById('id_vdzv_1').value = document.getElementById('id_vdzv_1').value.slice(0, trig_kp) + 'ʊ' + vdzv_1.value.slice(trig_kp, vdzv_1.length)
            vdzv_1.setSelectionRange(trig_kp + 1, trig_kp + 1)


        } else if (event.altKey && event.keyCode == 83) {
            document.getElementById('id_vdzv_1').value = document.getElementById('id_vdzv_1').value.slice(0, trig_kp) + 'ʃ' + vdzv_1.value.slice(trig_kp, vdzv_1.length)
            vdzv_1.setSelectionRange(trig_kp + 1, trig_kp + 1)


        } else if (event.keyCode == 55) {
            document.getElementById('id_vdzv_1').value = document.getElementById('id_vdzv_1').value.slice(0, trig_kp) + 'ʃ' + vdzv_1.value.slice(trig_kp, vdzv_1.length)
            vdzv_1.setSelectionRange(trig_kp + 1, trig_kp + 1)


        } else if (event.altKey && event.keyCode == 90) {
            document.getElementById('id_vdzv_1').value = document.getElementById('id_vdzv_1').value.slice(0, trig_kp) + 'ʒ' + vdzv_1.value.slice(trig_kp, vdzv_1.length)
            vdzv_1.setSelectionRange(trig_kp + 1, trig_kp + 1)


        } else if (event.keyCode == 57) {
            document.getElementById('id_vdzv_1').value = document.getElementById('id_vdzv_1').value.slice(0, trig_kp) + 'ʒ' + vdzv_1.value.slice(trig_kp, vdzv_1.length)
            vdzv_1.setSelectionRange(trig_kp + 1, trig_kp + 1)


        } else if (event.altKey && event.keyCode == 73) {
            document.getElementById('id_vdzv_1').value = document.getElementById('id_vdzv_1').value.slice(0, trig_kp) + 'i' + vdzv_1.value.slice(trig_kp, vdzv_1.length)
            vdzv_1.setSelectionRange(trig_kp + 1, trig_kp + 1)


        } else if (event.keyCode == 49) {
            document.getElementById('id_vdzv_1').value = document.getElementById('id_vdzv_1').value.slice(0, trig_kp) + 'i' + vdzv_1.value.slice(trig_kp, vdzv_1.length)
            vdzv_1.setSelectionRange(trig_kp + 1, trig_kp + 1)


        } else if (event.keyCode == 73) {
            document.getElementById('id_vdzv_1').value = document.getElementById('id_vdzv_1').value.slice(0, trig_kp) + 'ɪ' + vdzv_1.value.slice(trig_kp, vdzv_1.length)
            vdzv_1.setSelectionRange(trig_kp + 1, trig_kp + 1)


        } else if (event.keyCode == 89) {
            document.getElementById('id_vdzv_1').value = document.getElementById('id_vdzv_1').value.slice(0, trig_kp) + 'ʌ' + vdzv_1.value.slice(trig_kp, vdzv_1.length)
            vdzv_1.setSelectionRange(trig_kp + 1, trig_kp + 1)


        } else if (event.altKey && event.keyCode == 78) {
            document.getElementById('id_vdzv_1').value = document.getElementById('id_vdzv_1').value.slice(0, trig_kp) + 'ŋ' + vdzv_1.value.slice(trig_kp, vdzv_1.length)
            vdzv_1.setSelectionRange(trig_kp + 1, trig_kp + 1)


        } else if (event.keyCode == 48) {
            document.getElementById('id_vdzv_1').value = document.getElementById('id_vdzv_1').value.slice(0, trig_kp) + 'ŋ' + vdzv_1.value.slice(trig_kp, vdzv_1.length)
            vdzv_1.setSelectionRange(trig_kp + 1, trig_kp + 1)


        } else if (event.altKey && event.keyCode == 79) {
            document.getElementById('id_vdzv_1').value = document.getElementById('id_vdzv_1').value.slice(0, trig_kp) + 'ɔ' + vdzv_1.value.slice(trig_kp, vdzv_1.length)
            vdzv_1.setSelectionRange(trig_kp + 2, trig_kp + 2)


        } else if (event.keyCode == 79) {
            document.getElementById('id_vdzv_1').value = document.getElementById('id_vdzv_1').value.slice(0, trig_kp) + 'ɒ' + vdzv_1.value.slice(trig_kp, vdzv_1.length)
            vdzv_1.setSelectionRange(trig_kp + 1, trig_kp + 1)


        }

        console.log("keyCode: " + event.keyCode)
    }
    document.onkeyup = function (event) {

        var event_1 = event ? event : (window.event ? window.event : null);
        vdzv_1 = document.getElementById('id_vdzv_1')
        var rj_1 = vdzv_1.value
        var trig_kp = vdzv_1.selectionStart
        if(/ɒɒ$/.test(vdzv_1.value.slice(0,trig_kp))){
            vdzv_1.value = vdzv_1.value.replace(/ɒɒ/,'ɔ')
        }else if(/ɪɪ$/.test(vdzv_1.value.slice(0,trig_kp))){
            vdzv_1.value = vdzv_1.value.replace(/ɪɪ/,'i')
        }else if(/ææ$/.test(vdzv_1.value.slice(0,trig_kp))){
            vdzv_1.value = vdzv_1.value.replace(/ææ/,'ɑ')
        }else if(/ʊʊ$/.test(vdzv_1.value.slice(0,trig_kp))){
            vdzv_1.value = vdzv_1.value.replace(/ʊʊ/,'u')
        }else if(/jj$/.test(vdzv_1.value.slice(0,trig_kp))){
            vdzv_1.value = vdzv_1.value.replace(/jj/,'ʒ')
        }else if(/nn$/.test(vdzv_1.value.slice(0,trig_kp))){
            vdzv_1.value = vdzv_1.value.replace(/nn/,'ŋ')
        }else if(/ee$/.test(vdzv_1.value.slice(0,trig_kp))){
            vdzv_1.value = vdzv_1.value.replace(/ee/,'ə')
        }else if(/vv$/.test(vdzv_1.value.slice(0,trig_kp))){
            vdzv_1.value = vdzv_1.value.replace(/vv/,'ð')
        }else if(/hh$/.test(vdzv_1.value.slice(0,trig_kp))){
            vdzv_1.value = vdzv_1.value.replace(/hh/,'ʃ')
        }else if(/ff$/.test(vdzv_1.value.slice(0,trig_kp))){
            vdzv_1.value = vdzv_1.value.replace(/ff/,'θ')
        }
        var trig_1 = trig_kp
        var rj_tsts_llcc = rj_1.slice(0, trig_kp)
        var rj_tsts_udcc = rj_1.slice(trig_kp, rj_1.length)
        if (event.keyCode == 13) {
            if (/\{/.test(rj_1[trig_1 - 2]) && /\}/.test(rj_1[trig_1])) {
                vdzv_1.value = rj_1.slice(0, trig_1) + "\n" + rj_1.slice(trig_1, rj_1.length)
                vdzv_1.setSelectionRange(trig_1, trig_1)
            }
        } else if (event.keyCode == 219) {
            if (/\{/.test(rj_1[trig_1 - 1])) {
                vdzv_1.value = rj_1.slice(0, trig_1) + "}" + rj_1.slice(trig_1, rj_1.length)
                vdzv_1.setSelectionRange(trig_1, trig_1)
            }
        }


    }

    function isKeyPressed(event) {
    }
</script>
<form style="float: left;margin: 0%;" name="home" action="/" method="get">
    <button>go home</button>
</form>
{{JTYP_2}}

<form style="float: left;margin: 0%;" name="VR_EBWU_ATRS" action="/VR_EBWU_ATRS" method="get">
    <button>VR语言教程</button>
</form>
<form style="float: left;margin: 0%;" name="VR_EBWU_BRTZ_FS_ZV_VNWY_TU_NINI_VKVD_KLCH"
    action="/VR_EBWU_BRTZ_FS_ZV_VNWY_TU_NINI_VKVD_KLCH" method="get">
    <button>VR语言之数据流项目编写示例</button>
</form>

<form style="width: 100%;clear:both" name="VR_EBWU_BRTZ_FS" id="form_1" action="/VR_EBWU_BRTZ_FS" method="post">
    <b>输入音标</b> Alt+P ⬇️<input id="oakl_1" style="width:50%;border:0;" placeholder="">
    <br>
    <textarea style="width: 100%;font-size:20px;" class='code-area-2' name="VDZV_1" onfocus="tkxb_basd(this)"
        id="id_vdzv_1" onkeyup="" id="RNSF_1" rows="20" cols="150">{{RJSE_KP}}</textarea>
    <br>
    <button id="btn1">提交</button> Ctrl+Space ⬅️
</form>
<hr>
<button onclick="jkub_jtyj(this)" id="zstv_jkub_jtyj">复制</button> Tab ⬇️<br>
<textarea id='vdum_bqeo' class='code-area-2' rows="20" cols="150"
    style="resize: none;width: 100%;overflow: auto;word-break: break-all;">{{rj_jtyj}}</textarea>
<script>
    function tkxb_basd(ubqt) {
        var eqwy_siih = ubqt.value.search(/\S\s*\}\}\s*$/)
        if (eqwy_siih != -1) {
            ubqt.setSelectionRange(eqwy_siih + 1, eqwy_siih + 1)
        }
    }
    function jkub_jtyj(ubqt) {
        var ele_1 = document.getElementById("vdum_bqeo");
        var zstv_jkub_jtyj = document.getElementById("zstv_jkub_jtyj");
        ele_1.select()
        var gkqj_jkub_bcaf = document.execCommand('copy');
        console.log(gkqj_jkub_bcaf)
        if (!gkqj_jkub_bcaf) {
            document.getElementById('oakl_1').value = "复制失败" + new Date().getTime().toString().replace(/.*(\w{4})/, "$1")
            zstv_jkub_jtyj.focus()
            return gkqj_jkub_bcaf
        }
        zstv_jkub_jtyj.focus()
        document.getElementById('oakl_1').value = "复制成功" + new Date().getTime().toString().replace(/.*(\w{4})/, "$1")
        return gkqj_jkub_bcaf
    }
</script>